In [1]:
import pandas as pd
df = pd.read_csv("Desktop\sampleSubmission.csv")
df

   id  label
0  11      1
1  12      1
2  13      1
3  14      1
4  15      1
5  16      1
6  17      1
7  18      1
8  19      1
9  20      1

In [6]:


df['label'][0] = 0
df['label'][2] = 0
df['label'][3] = 0
df['label'][4] = 0
df['label'][6] = 0
df['label'][9] = 0

In [7]:
df

   id  label
0  11      0
1  12      1
2  13      0
3  14      0
4  15      0
5  16      1
6  17      0
7  18      1
8  19      1
9  20      0

In [9]:
df.to_csv('ans.csv', index = False)